fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img#pp {
    border-radius: 50%;
}

.img-container {
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px; */
}

.form-group {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-group {
    width: 40%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}