body {
    background-color: #f3eee5;
    font-family: Arial, sans-serif;
    color: #4b463d;
    margin: 20px;
    display: flex;
     
}


form {
    background-color: #faf8f3;
    border: 1px solid #ddd3c4;
    padding: 25px;
    border-radius: 5px;
    max-width: 700px;

}

.form-group {
    margin-bottom: 18px;
    
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

label:has(+ input[type="color"]),
label:has(+ input[type="checkbox"]) {
    display: inline-block;
    /*width: 50%;*/
    /* ni kalau nk align label 50% kiri supaya field sebelah dia straight */
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b8aa96;
    border-radius: 5px;
    background-color: #fffdf8;
    box-sizing: border-box;
}

/*input[type="checkbox"],
input[type="radio"],
input[type="range"] {

}*/

input[type="radio"] {
    display: inline-block;
    width: 50px;
}


input[type="checkbox"] {
    width: 50px;
}


input[type="color"] {
    width: 50px;
    height: 24px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #9f927f;
    background-color: #d8cbb8;
    color: #3e382f;
    cursor: pointer;

}

button:hover {
    background-color: #cdbda5;
}

textarea {
    min-height: 120px;
}